<div class="card-body">
  <div class="container" *ngIf="isCartNotEmpty(); else cartEmptyBlock">
    <h5 class="card-title">Your Cart:</h5>
    <div class="container" *ngFor="let productInCart of productsInCart">
      <app-product-in-cart [productInCart]="productInCart"></app-product-in-cart>
      <button type="button" class="btn btn-danger" (click)="onRemoveFromCart(productInCart)">
        Remove
      </button>
    </div>
  </div>
  <ng-template #cartEmptyBlock>
    <br>
    Your Cart appears to be empty. Buy something already!
  </ng-template>
</div>