<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h3 class="card-title">Input your contact information, please</h3>

      <form novalidate [formGroup]="customerForm">   
        <fieldset>
          
          <div [ngClass]="{'has-error': (customerForm.get('name').touched || customerForm.get('name').dirty) && !customerForm.get('name').valid }">
            <label for="nameId">Name:
              <input id="nameId"
                type="text"
                placeholder={{placeholders.name}} 
                formControlName="name"/>
            </label>
              <span class="help-block" *ngIf="(customerForm.get('name').touched || customerForm.get('name').dirty) && customerForm.get('name').errors">
                <span *ngIf="customerForm.get('name').hasError('required')">
                  Please enter your name
                </span>
              </span>
          </div>
              
          <div formArrayName="phones">
            <div *ngFor="let phone of phones.controls; let i=index">
              <label>
                Phone:
                <input [formControlName]="i"
                  type="text" 
                  placeholder={{placeholders.phone}}>
              </label>
            </div>
            <br>
            <button class="btn btn-warning" 
              (click)="addPhone()">Add Another Phone
            </button>
          </div>

        </fieldset>
      </form>
      <br>
      <button class="btn btn-lg btn-success"
        [disabled]="!customerForm.valid"
        (click)="onSubmitButtonClick()">
        Submit
      </button>
    </div>
    <div class="col-sm-7"></div>
  </div>
</div>
