<div class="card-body center">
  <h6 class="card-title">{{cartItem.name}}</h6>
  <div class="input-group">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-number" (click)="onRemoveFromCart(cartItem)">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </span>
    <input type="text" class="form-control input-number" disabled="true" [value]="cartItem.quantity" min="1" max="10">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-number" (click)="onAddToCart(cartItem)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </span>
  </div>
</div>