<div class="row">
  <div *ngFor="let product of (products | async)" class="col-sm-4">
    <div class="card">
      <app-product [product]="product"></app-product>
      <div class="row">
        <div class="col-sm-7"></div>
        <div class="col-sm-4">
          <button type="button" 
            [disabled]="!product.isAvailable" 
            class="btn btn-primary right" 
            (click)="onAddToCart(product)">
            Add to Cart
          </button>
          <div class="col-sm-1"></div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>